# Xcode
xcuserdata/
*.xcuserstate
DerivedData/
build/

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store

# CocoaPods
Pods/

# Environment / Secrets
.env
*.xcconfig

Config/Config.xcconfig
PhotoSearchApp.xcodeproj/project.xcworkspace/xcuserdata/apple.xcuserdatad/UserInterfaceState.xcuserstate
